/* global styles */
* {
  text-rendering: optimizeLegibility;
}
html.touch * {
  text-rendering: optimizeSpeed;
}
.w-webflow-badge {
  display: none !important;
  visibility: hidden !important;
}

/* swiper slider styles */
.swiper {
  overflow: visible;
}
.swiper-button-disabled {
  opacity: 50%;
  cursor: auto;
}
